{% extends "base.html.twig" %}


{% block body  %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="content-block">
                    <h1>Hoi {{ app.user.username }}</h1>
                    <p>Dit platform is gemaakt om makkelijk foto's met opa en oma te kunnen delen!
                        Klik op de icoontjes hierboven om een nieuwe map of foto toe te voegen.
                        Met het oogje kun je de site bekijken zoals Opa en Oma 'm zullen zien.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}