{% extends "base.html.twig" %}


{% block body  %}
    <div class="text-center">
        <h1>Hoi {{ app.user.username }}</h1>
        <p>Dit is een platform om supersimpel foto's te kunnen delen!</p>

    </div>

{% endblock %}