{% extends 'base.html.twig' %}
{% use "form_div_layout.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="content-block">
                    <h2>Voeg meerdere foto's toe</h2>
                    <p>Hier kun je meerdere foto's aan een mapje toevoegen. Voeg later waar nodig of leuk nog een titel </p>
                    of een beschrijving toe.
                </div>
                <div class="content-block">
                    <div class="form">
                        {{ form_start(form) }}
                        {{ form_row(form.files, {
                            'label': 'Selecteer de bestanden'
                        }) }}
                        {{ form_row(form.folder, {
                            'label': 'Kies een mapje'
                        }) }}
                        <button type="submit" class="btn btn-primary" formnovalidate>Voeg toe</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}