{% extends 'base.html.twig' %}
{% use "form_div_layout.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="content-block">
                    <h2>Voeg een mapje toe</h2>
                    <p>Voeg hier een nieuw mapje toe om foto's in te zetten. Geef dit een duidelijke titel en een leuke beschrijving.</p>
                </div>
                <div class="content-block">
                    <div class="form">
                        {{ form_start(form) }}
                        {{ form_row(form.title, {
                            'label': 'titel'
                        }) }}
                        {{ form_row(form.description, {
                            'label': 'beschrijving'
                        }) }}
                        <button type="submit" class="btn btn-primary" formnovalidate>Voeg toe</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}