{% extends 'base.html.twig' %}
{% use "form_div_layout.html.twig" %}
{% block body %}
    <div class="welcome">
    <div class="text-center">
        <h1>Voeg een mapje toe</h1>
    </div>
    {{ form_start(form) }}
    {{ form_row(form.title, {
        'label': 'titel'
    }) }}
    {{ form_row(form.description, {
        'label': 'beschrijving'
    }) }}
    <button type="submit" class="btn btn-primary" formnovalidate>Voeg toe</button>
    {{ form_end(form) }}
    </div>
{% endblock %}