{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="content-block">
                    <h1>Hoi Ger en Theo!</h1>
                    <p class="description" > <br>
                        We hebben op deze website onze allerleukste foto's verzameld.
                        Klik op de plaatjes hieronder om alle foto's in dat mapje te kunnen zien!</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="content-block">
                    <div class="row">
                {% for folder in folders  %}
                        {% if folder.photos is not empty %}
                        <div class="col-xs-2 col-sm-4">
                            <div class="preview-folder">
                                <b>{{ folder.title }}</b> <br><br>
                                    <a href="{{ path('folder_show', {'folderId': folder.id }) }}">
                                        <img src="{{ folder.photos|first.file }}" class="crop-medium">
                                    </a>
                            </div>
                        </div>
                        {% elseif is_granted('ROLE_ADMIN') %}
                            <div class="col-xs-2 col-sm-4">
                                <div class="preview-folder">
                                    <b>{{ folder.title }}</b> <br><br>
                                    Lege mapjes zien Opa en Oma niet. Voeg een foto toe!
                                </div>
                            </div>
                        {% endif %}
                {% endfor %}
                    </div>
                </div>
           </div>
       </div>
   </div>



{% endblock %}
