{% extends 'base.html.twig' %}
{% block body %}
      <div class="welcome">
          {% if app.user and "ROLE_ADMIN" in app.user.roles|keys %}
                <h1>Hoi</h1>
                <p>Je bent ingelogd als admin. Ga naar het admingedeelte om foto's te zien! Ben je geen admin? Log dan uit!</p> <br><br>
                <a href="{{ path('admin_home') }}" class="btn btn-warning">Ga naar het Admin-gedeelte</a> <br><br>
                <a href="{{ path('logout') }}" class="btn btn-danger">Log uit</a>
          {% else %}
          <h1>Hoi Opa en Oma</h1> <br>
          <p>
              Deze site hebben we speciaal voor jullie gebouwd!
              Als je op de button die hieronder klikt staat dan gaan jullie naar alle foto's.
          </p> <br>
              <a href="{{ path('all_folders') }}" class="btn btn-warning">Ik wil alle foto's zien</a>
          {% endif %}
      </div>
{% endblock %}
