body {
    background-color: #f4f1f0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.content-block {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
    text-align: center;
    background-color: white;
}

.content-block-pink {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    background-color: #fa969f;
}

.photo-block {
    display: flex;
    justify-content: space-around;
}

.preview-folder {
    font-size: 18px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    box-shadow:  -4px -4px 16px -7px rgba(250, 150, 159, 0.2);
}

.preview-photo {
    margin-bottom: 20px;
    height: 180px;
    width: 150px;
    position: relative;
}

.crop-medium {
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.crop-small {
    object-fit: cover;
    height: 150px;
    width: 150px;
}

.description {
    width: 80%;
    margin: auto;
    font-size: 18px;
}

.btn-primary {
     background-color: #47d3d7;;
     border: #47d3d7;;
    color: black;
    margin: 10px;
 }

.btn-primary:hover  {
    background-color: #62d9dd;
    border: #62d9dd;
    color: black;
}

.btn-danger {
    background-color: #fa969f;
    border: #fa969f;
    color: black;
}
.btn-danger:hover  {
    background-color: #ffb8be;
    border: #ffb8be;
    color: black;
}


.form {
    width: 60%;
    margin: auto;
}

.not-centered {
    text-align: left;
}

.custom-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    margin-top: 20px;
}

.custom-navbar li {
    float: left;
}

.custom-navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.custom-navbar li a:hover {
    background-color: #fa969f;
}

.photo-view img {
    max-width: 90%;
    max-height: 70vh;
    margin: auto;
    object-fit: contain;
}

.photo-view .custom-previous a {
    font-size: 40px;
    text-decoration: none;
    padding-right: 10px;
    color: #b1b1b1;
}
.photo-view .custom-next a {
    padding-left: 10px;
    font-size: 40px;
    text-decoration: none;
    color: #b1b1b1;
}

.next a, .previous a, .last a, .first a {
    font-size: 20px;
    color: #b1b1b1;
}
.page a
{
    font-size: 30px;
    color: #b1b1b1;
}

.current
{
    font-size: 30px;
    color: #fa969f;
}

.links, .links a {
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
    color: black;
    margin-bottom: -20px;
}

.links a:hover {
    color: #fa969f;
}

@media screen and (max-width: 800px) {
    .photo-view .custom-previous a, .photo-view .custom-next a{
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .links, .links a {
        font-size: 14px;
        padding: 5px;
    }
}


